form {
    width: 80%;
    background-color: pink;
    padding-bottom: 20px;
  
  
      display: inline-block;
  
}
body {
  text-align: center;
}
ol {
    list-style-type:none;
    padding: 0;
    margin: 0;
}
  
ol li{
  padding-top: 30px;
  align: left;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cp:focus::placeholder {
  color: transparent;
}